.jumbotron {
    background-color: #0B3954;
    color: white;
    margin-top: 50px;
}

footer {
    padding: 10px 10px 0 10px;
    color: white;
    background-color: #0B3954;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel {
    flex: 1 150px;
    padding: 2px 2px 2px 2px;
    margin: 5px;
}

.btn-reserva {
    width: 100%;
}

.container>img {
    margin-bottom: 20px;
}

.another {
    margin-right: 10px;
    margin-bottom: 50px;
}